body {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    justify-content: space-evenly;
    width: 100%;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
}

#app-controls {
    align-items: center;
    border: solid #525252 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16),
                0 3px 1px -2px rgba(0, 0, 0, 0.12),
                0 1px 5px  0 rgba(0, 0, 0, 0.24);
    display: flex;
    flex-direction: column;
    font-family: 'Comfortaa';
    justify-content: space-evenly;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 66%;
}

#app-controls > * {
    font-family: inherit;
}

#app-controls > *:not(:last-child) {
    margin-bottom: 10px;
}

#app-controls > button {
    width: 25%;
}

#saved-sheets-menu {
    width: 75%;
}
