
body {
    display: flex;
    width: 100%;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.battlefield-role {
    height: 65px;
    width: 65px;
}

.datasheet {
    background-color: #d7d7d7;
    border: 2px solid black;
    width: 80%;
}

.datasheet .header {
    background-color: black;
}

.datasheet > section {
    border: 1px black solid;
    display: flex;
    flex-direction: row;
    min-height: 2rem;
}

.datasheet > section .label {
    border: 1px dotted red;
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 2rem;
    width: 15%;
}

.power-rating {
    height: 65px;
}

.profile-table {
    border-collapse: collapse;
    width: 100%;
}

.profile-table thead {
    background-color: #b2bbb6;
}

.unit-composition textarea {
    background-color: transparent;
    padding: 0;
    resize: none;
    width: 85%;
}

.unit-name {
    width: 60%;
}

.unit-name textarea {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    font-weight: 700;
    height: 2rem;
    padding: 0;
    resize: none;
    width: 100%;
}

.weapon-table .wname {
    width: 24%;
}

.weapon-table  .wstat {
    width: 10.4%;
}

.weapon-table {
    border-collapse: collapse;
    width: 100%;
}

.weapon-table thead {
    background-color: #b2bbb6;
}
