
body {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    justify-content: center;
    width: 100%;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.add-profile, .add-weapon {
    background-color: transparent;
    border: solid 1px #2da780;
    border-radius: 50%;
    color: #2da780;
    cursor: pointer;
    height: 1em;
    font-size: 1.2em;
    font-weight: 700;
    line-height: 1em;
    padding: 0;
    position: absolute;
    right: 3px;
    width: 1em;
}

.add-profile:after {
    content: '+';
}

.battlefield-role {
    height: 65px;
    width: 65px;
}

.battlefield-role.dedicated_transport {
    background: url('../assets/icons/dedicated_transport_icon.png') center no-repeat;
    background: url(https://r-pluss.github.io/warhams_datacards/assets/icons/dedicated_transport_icon.png) center no-repeat;
}

.battlefield-role.elite {
    background: url('../assets/icons/elite_icon.png') center no-repeat;
    background: url(https://r-pluss.github.io/warhams_datacards/assets/icons/elite_icon.png) center no-repeat;
}

.battlefield-role.fast_attack {
    background: url('../assets/icons/fast_attack_icon.png') center no-repeat;
    background: url(https://r-pluss.github.io/warhams_datacards/assets/icons/fast_attack_icon.png) center no-repeat;
}

.battlefield-role.flyer {
    background: url('../assets/icons/flyer_icon.png') center no-repeat;
    background: url(https://r-pluss.github.io/warhams_datacards/assets/icons/flyer_icon.png) center no-repeat;
}

.battlefield-role.fortification {
    background: url('../assets/icons/fortification_icon.png') center no-repeat;
    background: url(https://r-pluss.github.io/warhams_datacards/assets/icons/fortification_icon.png) center no-repeat;
}

.battlefield-role.heavy_support {
    background: url('../assets/icons/heavy_support_icon.png') center no-repeat;
    background: url(https://r-pluss.github.io/warhams_datacards/assets/icons/heavy_support_icon.png) center no-repeat;
}

.battlefield-role.hq {
    background: url('../assets/icons/hq_icon.png') center no-repeat;
    background: url(https://r-pluss.github.io/warhams_datacards/assets/icons/hq_icon.png) center no-repeat;
}

.battlefield-role.lord_of_war {
    background: url('../assets/icons/lord_of_war_icon.png') center no-repeat;
    background: url(https://r-pluss.github.io/warhams_datacards/assets/icons/lord_of_war_icon.png) center no-repeat;
}

.battlefield-role.troop {
    background: url('../assets/icons/troop_icon.png') center no-repeat;
    background: url(https://r-pluss.github.io/warhams_datacards/assets/icons/troop_icon.png) center no-repeat;
}

.datasheet {
    background-color: #d7d7d7;
    border: 2px solid black;
    width: 80%;
}

.datasheet .header {
    background-color: black;
}

.datasheet > section {
    border: 1px black solid;
    display: flex;
    flex-direction: row;
    min-height: 2rem;
}

.datasheet > section .label {
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 2rem;
    width: 15%;
}

.hidden {
    display: none;
    transform: translateZ(0); /*attempt to force rendering*/
}

.power-rating {
    align-items: center;
    background: url('../assets/icons/power_rating_icon.png') center no-repeat;
    background: url(https://r-pluss.github.io/warhams_datacards/assets/icons/power_rating_icon.png) center no-repeat;
    display: flex;
    height: 65px;
    justify-content: center;
    width: 65px;
}

.power-rating > input {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    height: 30%;
    resize: none;
    text-align: center;
    width: 60px;
}

.pr-label {
    color: #ccc;
}

.profile-table {
    border-collapse: collapse;
    width: 100%;
}

.profile-table textarea {
    background-color: transparent;
    border: none;
    height: 100%;
    resize: none;
    text-align: center;
    width: 100%;
}

.profile-table thead {
    background-color: #b2bbb6;
}

.profiles {
    position: relative;
}

.profiles .wname {
    width: 33.33333%;
}

.profiles .wstat {
    width: 7.407407333333333%;
}

.remove-profile, .remove-weapon {
    background-color: transparent;
    border: solid 1px #b32774;
    border-radius: 50%;
    color: #b32774;
    cursor: pointer;
    height: 1em;
    font-size: 1.2em;
    font-weight: 700;
    line-height: 0.8em;
    margin-top: 0.1em;
    padding: 0;
    position: absolute;
    right: 3px;
    width: 1em;
}

.remove-profile:after {
    content: '-';
}

.unit-composition textarea {
    background-color: transparent;
    padding: 0;
    resize: none;
    width: 85%;
}

.unit-name {
    margin-left: 5%;
    width: 60%;
}

.unit-name input {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 50px;
    font-weight: 700;
    height: 100%;
    padding: 0;
    resize: none;
    width: 100%;
}

.weapon-table .wname {
    width: 24%;
}

.weapon-table  .wstat {
    width: 10.4%;
}

.weapon-table {
    border-collapse: collapse;
    width: 100%;
}

.weapon-table thead {
    background-color: #b2bbb6;
}
