
main {
    display: flex;
    justify-content: center;
}

.datacard {
    align-items: center;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.header {
    margin-block-end: 0px;
    margin-block-start: 0px;
    width: 100%
}

.power-rating {
    background-color: #00f;
    width: 2.5%;
}

.power-rating > textarea {
    background: transparent;
    color: #fff;
    height: 100%;
    padding: 0;
    resize: none;
    text-align: center;
    width: 80%;
}

.role {
    background-color: #0f0;
    width: 2.5%;
}

.row {
    border: 1px dotted red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2vh;
    margin-top: 2vh;
    width: 90%;
}

.stat-box {

}

.stat-table {
    border-collapse: collapse;
}

.stat-table thead {
    background-color: #abe89f;
}

.unit-name {
    background-color: #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
}

.unit-name > textarea {
    background: transparent;
    border: none;
    color: #fff;
    height: 100%;
    padding: 0;
    resize: none;
    text-align: center;
    width: 80%;
}
