
main {
    display: flex;
    justify-content: center;
}

.abilities {
    width: 75%;
}

.abilities > textarea {
    background: transparent;
    border: none;
    min-height: 10em;;
    padding: 0;
    resize: none;
    text-align: left;
    width: 100%;
}

.datacard {
    align-items: center;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.faction-keywords {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.faction-keywords > textarea {
    background: transparent;
    border: none;
    height: 100%;
    padding: 0;
    resize: none;
    text-align: left;
    width: 85%;
}

.header {
    background-color: #000;
    color: #fff;
    height: 1.5em;
    font-family: 'Squada One';
    margin-block-end: 0px;
    margin-block-start: 0px;
    position: relative;
    width: 100%
}

.keywords {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.keywords > textarea {
    background: transparent;
    border: none;
    height: 100%;
    padding: 0;
    resize: none;
    text-align: left;
    width: 85%;
}

.label {
    background-color: #000;
    color: #fff;
    height: 100%;
    font-family: 'Squada One';
    line-height: 200%;
    margin-block-end: 0px;
    margin-block-start: 0px;
    position: relative;
    width: 15%;
}

.power-rating {
    background-color: #00f;
    width: 2.5%;
}

.power-rating > textarea {
    background: transparent;
    color: #fff;
    height: 100%;
    padding: 0;
    resize: none;
    text-align: center;
    width: 80%;
}

.profiles {
  width: 55%;
}

.profiles .wname {
    width: 33.33333%;
}

.profiles .wstat {
    width: 7.407407333333333%;
}

.role {
    background-color: #0f0;
    width: 2.5%;
}

.row {
    border: 1px dotted red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2vh;
    margin-top: 2vh;
    width: 90%;
}

.row.single {
    align-items: center;
    flex-direction: column;
}

.stat-box {

}

.stat-table {
    border-collapse: collapse;
    width: 100%;
}

.stat-table thead {
    background-color: #a8ad87;
    font-family: 'Squada One';
}

.unit-comp {
    width: 35%;
}

.unit-comp > textarea {
    background: transparent;
    border: none;
    height: calc(100% - 1.5em);
    padding: 0;
    resize: none;
    text-align: left;
    width: 100%;
}

.unit-name {
    background-color: #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
}

.unit-name > textarea {
    background: transparent;
    border: none;
    color: #fff;
    font-family: 'Diplomata SC';
    height: 100%;
    padding: 0;
    resize: none;
    text-align: center;
    width: 80%;
}

.wargear {
    width: 20%;
}

.wargear > textarea {
    background: transparent;
    border: none;
    min-height: 10em;;
    padding: 0;
    resize: none;
    text-align: left;
    width: 100%;
}

.weapons {
    width: 100%;
}

.weapons .wname {
    width: 24%;
}

.weapons .wstat {
    width: 10.4%;
}

#add-profile {
    background-color: transparent;
    border: solid 1px #62ef48;
    border-radius: 50%;
    color: #62ef48;
    cursor: pointer;
    height: 1em;
    font-size: 1.2em;
    font-weight: 700;
    line-height: 1em;
    padding: 0;
    position: absolute;
    right: 2px;
    width: 1em;
}

#add-profile:after {
    content: '+';
}
